
.fielset{
margin-top: auto;
}
.star {
    font-size: 100px;
    display: inline-block;
}
.star a {
   text-decoration: none;
  display: inline-block;
  font-size: 50px;
  font-size: 11rem;
  
  color: #888;
}

.star:hover a {
  color: rgb(39, 130, 228);
}
.star > a:hover ~ a {
  color: #888;
}